<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="underline mt-2">コメント一覧</h4>
      
      <%= render 'layouts/success_message' %>
      
      <div class="col-12 col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>ニックネーム</th>
              <th>コメント</th>
              <th>感情分析スコア</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @comments.each do |comment| %>
              <tr>
                <td><%= comment.user.nickname %></td>
                <td><%= comment.comment %></td>
                <td class="sentiment-score">
                  [<span style="<%= comment.score < 0 ? 'color: red;' : '' %>"><%= comment.score %></span>]
                </td>
                <td><%= link_to "詳細", admin_comment_path(comment), class: "btn btn-success" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>