<div class="container">
  <div class="row">
    <div class="col-10">
    <h4 class="underline">投稿編集</h4>  
      <% if @post.errors.any? %>
        <div class="alert alert-danger">
          <%= @post.errors.count %>件のエラーが発生しました
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model: @post do |f| %>
        <table class="table">
          <tr>
            <td><%= f.label :image, '商品画像' %></td>
            <td>
              <%= f.file_field :image %>
              <% unless f.object.image.blank? %>
                <%= f.object.image.blob.filename.to_s %>
              <% else %>
                選択されていません
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= f.label :name, '商品名' %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label :genre, 'ジャンル' %></td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %></td>
          </tr>
          <tr>
            <td><%= f.label :price, '金額' %></td>
            <td><%= f.number_field :price %>円</td>
          </tr>
          <tr>
            <td><%= f.label :body, '本文' %></td>
            <td><%= f.text_area :body, rows:'5', class: "w-100 comment-textarea" %></td>
          </tr>
        </table>
        <% if current_user && current_user.id == @post.user_id %>
          <%= f.submit '更新', class:"btn btn-success" %>
        <% end %>  
      <% end %>
    </div>
  </div>
</div>