<div class="container">
  <div class="row">
    <div class="col-12">
      
      <div class="d-flex justify-content-between underline mt-2">
        <div>
          <h4 style="font-weight: bold;">
            投稿一覧
          </h4>
        </div>
        <div>
          <%= link_to new_post_path, class: "btn btn-primary btn-sm" do %>
             <i class="fa-solid fa-circle-plus"></i>新規投稿
          <% end %>
        </div>
      </div>
      
      <%= render 'layouts/flash' %>
      
      <div class="d-flex flex-column flex-md-row justify-content-end my-2">
        <div class="form-group">
          <%= form_with(url: posts_path, method: :get, class: "form-row") do |f| %>
            <div class="col-md-6 col-sm-12 mb-2 mb-md-0">
              <!-- 並び替えプルダウン -->
              <%= f.select(:sort, options_for_select([["新しい順", "new"], ["古い順", "old"]], params[:sort]), {}, class: "form-control") %>
            </div>
            <div class="col-md-6 col-sm-12 mb-2 mb-md-0">
              <!-- ジャンル選択プルダウン -->
              <%= f.select(:genre_id, options_for_select([["すべて", ""]].concat(Genre.all.map { |g| [g.name, g.id] }), params[:genre_id]), {}, class: "form-control") %>
            </div>
            <div class="col-md-12 mt-2">
              <%= f.submit("適用", class: "btn btn-primary btn-block") %>
            </div>
          <% end %>
        </div>
        <div class="ml-md-2 mt-2 mt-md-0">
          <%= render "searches/form" %>
        </div>
      </div>
      
      <div class="row">
        <%= render "public/posts/card", posts: @posts %>
      </div>
    </div>
  </div>
</div>

