<div class="container">
  <div class="row">
    <div class="col-12">
      
      <div class="d-flex justify-content-between underline mt-2">
        <div>
          <h4 style="font-weight: bold;">
            投稿一覧
          </h4>
        </div>
        <div>
          <%= link_to new_post_path, class: "btn btn-primary btn-sm" do %>
             <i class="fa-solid fa-circle-plus"></i>新規投稿
          <% end %>
        </div>
      </div>
      
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      
      <div class="d-flex justify-content-end my-2">
        <div class="mr-2">
          <%= form_with(url: posts_path, method: :get, class: "form-inline") do |f| %>
            <%= f.select(:genre_id, options_for_select([["すべて", ""]].concat(Genre.all.map { |g| [g.name, g.id] })), {selected: params[:genre_id]}, class: "form-control mr-2") %>
            <%= f.submit("絞り込み", class: "btn btn-primary") %>
          <% end %>
        </div>
        <div>
          <%= render "searches/form" %>
        </div>
      </div>
      
      <div class="row">
        <%= render "public/posts/card", posts: @posts %>
      </div>
    </div>
  </div>
</div>

