<div class="container">
  <div class="row">
    <div class="col-12">
      
      <div class="d-flex justify-content-between underline mt-2">
        <div>
          <h4 style="font-weight: bold;">
            投稿一覧
          </h4>
        </div>
        <div>
          <%= link_to new_post_path, class: "btn btn-primary btn-sm" do %>
             <i class="fa-solid fa-circle-plus"></i>新規投稿
          <% end %>
        </div>
      </div>
      
      <%= render 'layouts/flash' %>
      
      <div class="row my-2">
        <div class="col-12 col-md-auto">
          <%= form_with(url: posts_path, method: :get, class: "form-inline") do |f| %>
            <%= f.select(:sort, options_for_select([["新しい順", "new"], ["古い順", "old"]], params[:sort]), {}, class: "form-control mb-2 mb-md-0 mr-md-2") %>
            <%= f.select(:genre_id, options_for_select([["すべて", ""]].concat(Genre.all.map { |g| [g.name, g.id] }), params[:genre_id]), {}, class: "form-control mb-2 mb-md-0 mr-md-2") %>
            <%= f.submit("適用", class: "btn btn-primary mb-2 mb-md-0") %>
          <% end %>
        </div>
        <div class="col-12 col-md-auto ml-md-2">
          <%= render "searches/form" %>
        </div>
      </div>
      
      <div class="row">
        <%= render "public/posts/card", posts: @posts %>
      </div>
    </div>
  </div>
</div>

