<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>新規登録</h2>
      <% if @post.errors.any? %>
        <%= @post.errors.count %>件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: Post.new do |f| %>
        <div>
          <%= f.label :image, '商品画像' %>
          <%= f.file_field :image %>
        </div>
        <div>
          <%= f.label :name, '商品名' %>
          <%= f.text_field :name %>
        </div>  
        <div>
          <%= f.label :price, '金額' %>
          <%= f.number_field :price %>円
        </div>  
        <div>
          <%= f.label :body, '本文' %>
          <%= f.text_area :body %>
        </div>
        <%= f.submit '投稿' %>
      <% end %>
    </div>
  </div>
</div>      