<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= image_tag @post.image, class: "img-fluid mb-3", style: "margin-top: 10px;" %>
    </div>
    <div class="col-12 col-md-8">
      <table class="table">
        <tr>
          <th><%= link_to @post.user.nickname, user_path(@post.user_id) %></th>
          <td>
            <% if current_user && current_user.id == @post.user_id %>
              <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success" %>
              <%= " " %>
              <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"%>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>商品名</th>
          <td><h5><%= @post.name %></h5></td>
        </tr>
        <tr>
          <th>値段</th>
          <td><%= number_with_delimiter(@post.price) %>円</td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @post.genre.name %></td>
        </tr>
        <tr>
          <th>アレンジ例</th>
          <td><%= @post.body %></td>
        </tr>
      </table>
      
      <div class=<%= "favorite-" + @post.id.to_s %> >
        <%= render "public/favorites/btn", post: @post %>
      </div>
      <div class="comments-counter">
        <%= render "public/comments/counter", post: @post %>
      </div>

      <div class="comments-index">
        <%= render "public/comments/index", post: @post %>
      </div>
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </div>
  </div>
</div>