<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="underline mt-2">ジャンル一覧・追加</h4>
      <br>
      <%= form_with(model: [:admin, @genre]) do |f| %>
        <p>ジャンル名　　<%= f.text_field :name %>
          <%= f.submit '新規登録', class: "btn btn-success" %>
        </p>
      <% end %>
      <!--空間を作る、テーブルの幅を小さくする-->
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td></td>
              <td><%= genre.name %></td>
              <td>
                <%= link_to "編集", edit_admin_genre_path(genre.id), class: "btn btn-success" %>
              </td>
              <td>
                <%= link_to "削除", admin_genre_path(genre), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
