<div class='container'>
  <div class='row'>
    <div class='col'>
      <h4 class="underline mt-2">会員一覧</h4>
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>      
      <div class='col-12 col-md-12'>
        <table class='table'>
          <thead>
            <tr>
              <th>会員ID</td>
              <th>名前</th>
              <th>ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.user_status %></td>
                <td><%= link_to "詳細", admin_user_path(user), class: "btn btn-success" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>  
    </div>
  </div>
</div>