<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <%= render 'layouts/success_message' %>
      <%= image_tag @post.image, class: "img-fluid mb-3", style: "margin-top: 10px;" %>
    </div>
    <div class="col-12 col-md-8">
      <table class="table">
        <tr>
          <th><%= link_to @post.user.nickname, admin_user_path(@post.user_id) %></th>
          <td>
            <%= link_to '削除', admin_post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"%>
          </td>
        </tr>
        <tr>
          <th>商品名</th>
          <td><h5><%= @post.name %></h5></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @post.genre.name %></td>
        </tr>
        <tr>
          <th>値段</th>
          <td><%= number_with_delimiter(@post.price) %>円</td>
        </tr>
        <tr>
          <th>アレンジ例</th>
          <td><%= @post.body %></td>
        </tr>
      </table>
      <div>
        <% if @post.favorites %>
          <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= @post.favorites.count %>いいね
        <% else %>
          <i class="fas fa-heart" aria-hidden="true"></i>
          <%= @post.favorites.count %>いいね
        <% end %>
      </div>
      <p>コメント数: <%= @post.comments.count %></p>
      <div class="comment-index">
        <%= render "admin/comments/comment", post: @post %>
      </div>
    </div>
  </div>
</div>