<div class="container">
  <div class="row justify-content-center">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center">
      <h2>Minkatsu</h2>
      <img src="<%= image_path 'about2.jpg' %>" class="img-fluid" alt="お部屋を快適に">
      <div class="btn-wrapper col-10 mx-auto text-center">
        <div class="row">
          <div class="btn btn-flat">
            <span><%= link_to "新規登録", new_user_registration_path, class:"btn btn-flat mx-auto" %></span>
          </div>
          　
          <div class="btn btn-flat">
            <span><%= link_to "ログイン", new_user_session_path, class:"btn btn-flat mx-auto" %></span>
          </div>
          <div class="row">
            <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
          </div>
          <div class="btn btn-flat">
            <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-flat mx-auto sign_in", method: :post %>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>