<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center">
      <h2>Minkatsu</h2>
      <img src="<%= image_path 'about2.jpg' %>" class="img-fluid" alt="お部屋を快適に">
      <div class="d-flex justify-content-around mt-2">
        <div class="row">
          <div>
            <%= link_to new_user_registration_path, class:"btn btn-flat" do %>
              <span>新規登録</span>
            <% end %>
          </div>
          　
          <div class="mr-3">
            <%= link_to new_user_session_path, class:"btn btn-flat" do %>
              <span>ログイン</span>
            <% end %>
          </div>
          <div>
            <%= link_to users_guest_sign_in_path, class: "btn btn-flat sign_in", method: :post do %>
              <span>ゲストログイン</span>
            <% end %>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>