<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between underline mt-2">
        <div>
          <h4 style="font-weight: bold;">
            通知一覧
          </h4>
        </div>
        <div>
          <i class="fa-regular fa-bell"></i>
          <%= @notifications.count %>件
        </div>
      </div>
      
      <%= render 'layouts/flash' %>
      
      <% @notifications.each do |notification| %>
        <div class="notification <%= 'unread' unless notification.checked %>">
          <div class="d-flex justify-content-between align-items-center">
            <% if notification.notifiable_type == 'Favorite' %>
              <div>
                <%= notification.notifiable.user.nickname %>さんがあなたの投稿に「いいね！」しました。
              </div>
            <% elsif notification.notifiable_type == 'Relationship' %>
              <div>
                <%= notification.notifiable.follower.nickname %>さんがあなたをフォローしました。
              </div>
            <% end %>
            <div>
              <%= link_to 'OK', mark_as_read_notification_path(notification), method: :patch, class:"btn btn-success" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


