<div class="col-12 col-md-12">
  <table class='table table-bordered'>
    <thead>
      <tr>
  
        <th>ニックネーム</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= link_to user.nickname, user, class: "user_#{user.id}" %></td>
          <td>
            フォロー数: 
            <span id="following-count-<%= user.id %>" class="name-link">
              <%= user.followings.count %>
            </span>
          </td>
          <td>
            フォロワー数: 
            <span id="follower-count-<%= user.id %>">
              <%= user.followers.count %>
            </span>  
          </td>
          <td>
            <%= render 'public/relationships/btn', user: user %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  