<div class="col-12 col-md-12">
  <table class='table'>
    <thead>
      <tr>
  
        <th>ニックネーム</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= link_to user.nickname, user, class: "user_#{user.id}" %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td>
            <% if current_user != user%>
              <% if current_user.following?(user) %>
                <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-info" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-success" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  