<div class="container">
  <div class="row">
    <div class="col">
      <h4>会員情報編集</h4>
      <div>
        <%= flash.now[:alert] %>
      </div>
      <div class="row">
        <div class="col-md">
          <%= form_with model: @user, url: users_information_path, method: :patch do |f| %>
            <% if @user.errors.any? %>
              <div class="alert alert-danger">
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <table class="table">
              <tr>
                <td style="width: 30%; padding-left: 20px;">名前</td>
                <td><%= f.text_field :name %></td>
              </tr>
              <tr>
                <td style="width: 30%; padding-left: 20px;">ニックネーム</td>
                <td><%= f.text_field :nickname %></td>
              </tr>
              <tr>
                <td style="width: 30%; padding-left: 20px;">メールアドレス</td>
                <td><%= f.text_field :email %></td>
                <td></td>
              </tr>
            </table>

            <%= f.submit "編集内容を保存", class:"btn btn-success" %>
            <%= link_to "退会する", users_unsubscribe_path, class:"btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>