<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="underline mt-2"><%= @user.name %>さんのマイページ</h4>

      
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <div class="row m-2">
          <%= link_to "フォロー", user_followings_path(@user), class:"btn btn-primary mr-2" %>  
          <%= link_to "フォロワー", user_followers_path(@user), class:"btn btn-primary" %>
        </div>
        
        <% if user.email != "guest@example.com" %>
        <div class="row">
          <%= link_to "",edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
        </div>
        <% end %>
        
       <div class="row">
        <div class="col-12 col-md-12">
          <p>登録情報  <%= link_to "編集する", edit_information_path %></p>
            <table class="table">
              <tr>
                <td style="width: 30%; padding-left: 20px;">名前</td>
                <td style="width: 70%;"><%= @user.name %></td>
              </tr>
              <tr>
                <td style="width: 30%; padding-left: 20px;">ニックネーム</td>
                <td style="width: 70%;"><%= @user.nickname %></td>
              </tr>
              <tr>
                <td style="width: 30%; padding-left: 20px;">メールアドレス</td>
                <td style="width: 70%;"><%= @user.email %></td>
              </tr>
            </table>
        </div>
      </div>
      
      <h4 class="underline">投稿一覧</h4>
      <div class="row mt-2">
        <%= render "public/posts/card", posts: @posts %>
      </div>

          <!--<p>いいね  　< %= link_to "一覧を見る", orders_path, class:"btn btn-primary" %></p>-->
    </div>
  </div>
</div>