<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h4>
          <%= @user.nickname %>
          <% if current_user != @user %>
            <%= render "public/relationships/btn", user: @user, options: { class: ""} %>
          <% else %>
            <%= link_to edit_user_path(user), class: "btn btn-success" do %>
          <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        </h4>
        <p>
          <%= link_to "フォロー", user_followings_path(@user), class:"btn btn-primary" %>  
          <%= link_to "フォロワー", user_followers_path(@user), class:"btn btn-primary" %>
        </p>
      </div>
      <div class="row">
        <div class="col-md">
          <%= render "public/posts/card" %>
        </div>
      </div>  
    </div>
  </div>
</div>