<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h4><%= @user.nickname %></h4>
        <% if current_user != @user %>
          <%= render "public/relationships/btn", user: @user, options: { class: ""} %>
        <% else %>
          <%= link_to edit_user_path(user), class: "btn btn-success" do %>
        <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
      </div>
       <div class="row">
        <div class="col-md">
          <p>登録情報</p>
          <table class="table">
            <tr>
              <th style="width: 30%; padding-left: 20px;">ニックネーム</td>
              <td style="width: 70%;"><%= @user.nickname %></td>
            </tr>
          </table>
          <!--<p>フォロー一覧  　　<　%= link_to "一覧を見る", posts_path, class:"btn btn-primary" %></p>-->
          <%= render "public/posts/card" %>
    </div>
  </div>
</div>