<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Minkatsu</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li><div class="header-content"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div></li>
          <li><div class="header-content"><%= link_to "新規投稿", new_post_path %></div></li>
          <li><div class="header-content"><%= link_to "Minkatsuとは", about_path %></div></li>
          <li><div class="header-content"><%= link_to "投稿一覧", posts_path %></div></li>
          <li><div class="header-content"><%= link_to "mypage", mypage_path %></div></li>
        
        <% elsif admin_signed_in? %>
          <li><div class="header-content"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></div></li>
          <li><div class="header-content"><%= link_to "投稿一覧", posts_path %></div></li>
          <li><div class="header-content"><%= link_to "コメント一覧", admin_comment_path %></div></li>
          <li><div class="header-content"><%= link_to "Minkatsuとは", about_path %></di></li>
        <% else %>
          <li><div class="header-content"><%= link_to "Minkatsuとは", about_path %></div></li>
          <li><div class="header-content"><%= link_to "新規登録", new_user_registration_path %></div></li>
          <li><div class="header-content"><%= link_to "ログイン", new_user_session_path %></div></li>
        <% end %>
          <%= render "searches/form" %>
        </ul>
      </div>
    </div>
  </nav>
</header>