<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Minkatsu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/521db94061.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('M_icon.png') %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="mb-4"></div>
      <main class="mb-auto">
        <%= yield %>
      </main>
    <div class="mb-4"></div>  
    <%= render 'layouts/footer' %>
  </body>
</html>

